<style>
.table6_7 table {
	width:100%;
	margin:15px 0;
	border:0;
}
.table6_7 th {
	background-color:#00A5FF;
	color:#FFFFFF
}
.table6_7,.table6_7 th,.table6_7 td {
	font-size:0.95em;
	text-align:center;
	padding:4px;
	border-collapse:collapse;
}
.table6_7 th,.table6_7 td {
	border: 1px solid #2087fe;
	border-width:1px 0 1px 0
}
.table6_7 tr {
	border: 1px solid #ffffff;
}
.table6_7 tr:nth-child(odd){
	background-color:#aae1fe;
}
.table6_7 tr:nth-child(even){
	background-color:#ffffff;
}
</style>
<table class=table6_7>
<tr>
	<th>SAMPLE</th><th>SAMPLE</th><th>SAMPLE</th>
</tr>
<tr>
	<td>SAMPLE</td><td>SAMPLE</td><td>SAMPLE</td>
</tr>
<tr>
	<td>SAMPLE</td><td>SAMPLE</td><td>SAMPLE</td>
</tr>
	<tr>
	<td>SAMPLE</td><td>SAMPLE</td><td>SAMPLE</td>
</tr>
<tr>
	<td>SAMPLE</td><td>SAMPLE</td><td>SAMPLE</td>
</tr>
</table>
