<!DOCTYPE html>
{% extends 'movie/base.html' %}
{% block content %}

{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--얘는 웹 브라우저의 호환성 보기에 대한 부분 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="1페이지 테마 정리해보기">
    <meta name="author" content="동호장">

    <title>Movie'O Clock</title>

    <!--여기서 부터 가져옴-->
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'font-awesome_1/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" type="text/css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link href="{% static 'css_1/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/creative.css" %}" type="text/css">
    <link href="{% static 'css_1/agency.css' %}" rel="stylesheet">
    <!-- Plugin CSS -->
   <!-- <link rel="stylesheet" href="{% static "css/animate.min.css" %}" type="text/css"> -->

   <!-- materialize CSS -->
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>


<!-- Portfolio Grid Section #######여기서부터 포트폴리오 시작함######## -->

<body id="page-top" class="index"> <!-- CSS 적용 없음. 네비게이션 바 누르면 맨 위로 올라오는 좌표값을 하는 id -->

    <section id="portfolio" class="bg-light-gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Movie O'Cloock</h2>
                    <h3 class="section-subheading text-muted">쉽고 빠른 너의 영화 예매</h3>
                 <a href="#가나다" class="btn btn-primary page-scroll">가나다</a>
                </div>
            </div>
              <div class="row">
              {% for movie in movies %}
                <div class="col-md-3 col-sm-3 portfolio-item">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="media/{{ movie.poster }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <form action="#">
      <input type="checkbox" name="test" class="filled-in" id="{{ movie.id }}1" value="{{ movie.title }}" />

      <label for="{{ movie.id }}1"> <h4> {{ movie.title }} </h4> </label>

                          </form>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </section>

    <nav id="mainNav"class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">브라우저 작아지면 생기는 토글 네비게이션 바 (오른쪽 상단에)</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-default page-scroll" href="#page-top">Movie'O Clock First Page</a> <!--이 버튼을 누르면 맨 위로 올라간다.-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#가나다">가나다</a><!--누르면 각각으로 감-->
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <section class="no-padding" id="가나다">
        <div class="container-fluid">
            <div class="row">
              {% for movie in movies %}
                <div class="col-lg-4 col-sm-4">
                    <a href="#" class="portfolio-link">

                        <img src="media/{{ movie.poster }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    movie
                                </div>
                                <div class="project-name">
                                    {{ movie.title }}
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="portfolio-caption">
                        <form action="#">
      <input type="checkbox" class="filled-in" id="{{ movie.id }}" value="{{ movie.title }}" />

      <label for="{{ movie.id }}"> <h4> {{ movie.title }} </h4> </label>

                          </form>
                    </div>

                      <div>
                        <p></p>
                     </div>
                </div>
              {% endfor %}
            </div>
        </div>
    <form action="/index2-html">
    <input type="submit" value="제출" />
    </form>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Movie O'Clock!</h2>
                    <hr class="primary">

                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="js_1/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="js_1/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/jquery.fittext.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js_1/classie.js"></script>
    <script src="js_1/cbpAnimatedHeader.js"></script>


    <!-- Contact Form JavaScript -->
    <script src="js_1/jqBootstrapValidation.js"></script>
    <script src="js_1/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/creative.js" %}"></script>
    <script src="js_1/agency.js"></script>

</body>
{% endblock content %}

</html>
