{% extends 'movie/base.html' %}
<body>
{% block content %}
  <h3 style="color:#616161 ">Movie</h3>

        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal"> 1번. </button>
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal"> 2번. </button>
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal"> 3번. </button>
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal"> 추가</button>

{% endblock content %}
</body>
</html>